<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Social</h3>
        <p>Please feel free to connect on LinkedIn
          <a href="https://www.linkedin.com/in/rattanakchea">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <h4>Previous Portfolio</h4>
        <p><small>Check out my previous sites.</small></p>
        <ul>
          <li>
            <a href="http://rattanakchea.github.io/me2014/">v1 - 2014</a>
          </li>
          <li>
            <a href="http://rattanakchea.github.io/projects">Project Listing</a>
          </li>
          <li>
            <a href="http://rattanakchea.github.io/me2014/angular-codepen/">Codepen - Angular Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<p class="text-center">Rattanak Chea | built with
  <span class="fa fa-heart"></span>
  <a href="#top" id="totop" class="img-circle btn-circle">
    <i class="fa fa-angle-double-up"> Go Top</i>
  </a>
</p>