<section class="education">
  <div class="container">
    <h2>Experience</h2>
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <h4>Full Stack Engineer - Amazon</h4>
        <p>6/2018 - current</p>
      </div>
      <div class="col-md-8 col-xs-8">
        <ul>
          <li>Builded dashboard portal to collect data from Amazon fulfillment centers</li>
          <li>Gathered software requirement from stake holders and wrote documentation </li>
          <li>Designed database and web architecture</li>
          <li>Worked with AWS to create micro services for our internal tools</li>
          <li>Quickly picked up pipeline, code review process, continuous integration.</li>
          <li>Tech stack includes: Ruby on Rails, Angular, JavaScript, AWS, MySQL</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <h4>Full Stack Engineer - Uptop</h4>
        <p>7/2016 - 1/2018</p>
      </div>
      <div class="col-md-8 col-xs-8">
        <ul>
          <li>Lead development for Microsoft Cloud Service Application (Cloud Launchpad) using ASP.NET</li>
          <li>Core and Angular 4 and Typescript</li>
          <li>Built complex pricing calculator interfacing with various data endpoints</li>
          <li>Maintained CenturyLink wholesale applications in Ruby on Rails</li>
          <li>Estimated technical challenges for UX/UI</li>
          <li>Wrote clean, organized, maintainable, and reusable code for backend and frontend.</li>
          <li>Cut down development time by evaluating the technology, tools and frameworks.</li>
        </ul>
      </div>
    </div>
  </div>
</section>