<br/><br/>
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <h2>Recent Work</h2>
    </div>
    <div class="row">
      <div class="card" *ngFor="let item of projects">
        <img class="card-img-top" src="{{item.image}}">
        <div class="card-body">
            <h4 class="card-title">{{ item.title }}</h4>
            <p>{{ item.description | limitTo: 60 }}</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </div>
</div>
