<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h4>{{item.title}}</h4>
    <p *ngIf="item.source">
      Source: <a href="{{item.source}}" target="_new">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </p>
    <p *ngIf="item.demo">
      Demo: <a href="{{item.demo}}" target="_new">
        <i class="fa fa-desktop" aria-hidden="true"></i>
      </a>
    </p>
    <p>{{ item.description }}</p>
  </div>
  <div class="col-sm-6 col-xs-12">
    <img class="card-img-top" src="{{item.image}}">
  </div>
</div>