<section class="skills">
  <div class="container">
    <h2>Tech I work with</h2>
    <div class="row">
      <div class="col-xs-12">
        <!-- {{skills.frontEnd | json}} -->
        <button class="btn-primary">Front End</button>

        <span *ngFor="let s of skills.frontEnd">
          {{s}}
        </span>
        <br/>
        <button class="btn-success">Back End</button>
        <span class="text-success" *ngFor="let s of skills.backEnd">
          {{s}}
        </span>
        <br/>
        <button class="btn-info">Framework</button>
        <span class="text-info" *ngFor="let s of skills.framework">
          {{s}}
        </span>

        <br />
        <button class="btn-warning">Database</button>
        <span *ngFor="let s of skills.database">
            {{s}}
          </span>
      </div>
    </div>
  </div>
</section>