<img class="card-img-top" src="{{item.image}}">
<div class="card-body">
  <h4 class="card-title">{{ item.title }}
    <span class="pull-right">
      <span *ngIf="item.source">
        <a href="{{item.source}}" target="_new">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </span>
      <span *ngIf="item.demo">
        <a href="{{item.demo}}" target="_new">
          <i class="fa fa-desktop" aria-hidden="true"></i>
        </a>
      </span>
    </span>
  </h4>
  <p>{{ item.description | limitTo: 60 }}</p>
  <p>
    <a (click)="gotoDetail(item)" class="card-link">Read more</a>
  </p>
</div>
