<section class="jumbotron text-center intro">
  <div class="container">
      <img src="assets/images/profile_img.jpg" alt="" class="profile-img img-thumbnail mx-auto">
    <h1 class="jumbotron-heading">Full Stack Developer</h1>
    <p>A Seattle-based software developer with experience with both back end and front end development.</p>
    <p class="lead text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> From Seattle</p>
    <div>
      <a href="https://github.com/rattanakchea"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rattanakchea"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
  </div>
</section>
